apiVersion: v1
kind: Config
clusters:
- name: "case-bry"
  cluster:
    server: "https://rancher.costin.com.br/k8s/clusters/c-m-zhfpvxtr"

users:
- name: "case-bry"
  user:
    token: "kubeconfig-user-vj7qhzg4lb:kfwjbrgpt9tbzr4xpl2kh6vjp6n56jkf45rwbqgctnvh6lzfmsp2q8"


contexts:
- name: "case-bry"
  context:
    user: "case-bry"
    cluster: "case-bry"
